<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Brand</a>
        </div>
        
    <ul class="nav navbar-nav navbar-right">
        <li><a (click)="onLogout()">Logout</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>
    </div>
</nav>-->

<div>
    <div class="home jumbotron centered">
      <h1>Welcome to the angular2</h1>
      <!--<h2 *ngIf="jwt">Your JWT is:</h2>
      <pre *ngIf="jwt" class="jwt"><code>{{jwt}}</code></pre>
      <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt | json}}</code></pre>
      <p>Click any of the buttons to call an API and get a response</p>
      <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call Anonymous API</a></p>
      <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Call Secure API</a></p>-->
      <p><a class="btn btn-primary btn-lg" role="button" (click)="onLogout()">Logout</a></p>
      <!--<h2 *ngIf="response">The response of calling the <span class="red"></span> API is:</h2>
      <h3 *ngIf="response">{{response}}</h3>-->
    </div>
  </div>